<div class="footer" id="footer">
    <div class="footer-content">
        <p>colbytdobson@gmail.com</p>
        <div class="footer-links">
            <button class="purple-button footer-button" onclick="window.location.href='/'">Home</button>
            <button class="purple-button footer-button" onclick="window.location.href='/resume'">Resume</button>
            <button class="purple-button footer-button" onclick="window.location.href='/servereceive'">Serve Receive</button>
            <button class="purple-button footer-button" onclick="window.location.href='/dynamicresume'">Dynamic Resume</button>
            <button class="purple-button footer-button" onclick="window.location.href='/questionablecocktails'">Questionable Cocktails</button>
            <button class="purple-button footer-button" onclick="window.open('https://www.linkedin.com/in/colbytdobson/', '_blank', 'noopener')">LinkedIn</button>
            <button class="purple-button footer-button" onclick="window.open('https://github.com/ielo03', '_blank', 'noopener')">GitHub</button>
        </div>
    </div>
</div>
