<div class="nav-bar" id="navbar">
    <div class="logo">
        <img src="/images/favicon.svg" alt="Headshot">
        <span>Colby T. Dobson</span>
    </div>
    <div class="nav-links">
        <a href="/login" id="login">Login</a>
        <a href="/logout" id="logout">Logout</a>
    </div>
</div>