<div class="padding">
    <h1><input type="text" id="title" placeholder="Enter Title" class="blank-input fill-w"></h1>
    <textarea id="content" placeholder="Enter Post" class="blank-input padding"></textarea><br>
    <input type="button" value="Save" class="submit-btn t-margin" id="save"><br>
    <input type="button" value="Cancel" class="submit-btn t-margin" id="cancel">
</div>