{{#if isAdmin}}
    <input type="button" class="submit-btn top-center" style="color: white" id="new-post" value="New Post" onclick="window.location = '/createPost'">
{{/if}}
<div id="post-container"></div>