<div class="body">
    <h1>Login</h1>
    <p id="usernameError" class="warning-container"></p>
    <input type="text" name="username" id="username" placeholder="Enter Username">
    <p id="passwordError" class="warning-container"></p>
    <input type="password" name="password" id="password" placeholder="Enter Password"><br>
    <input type="button" value="Login" id="login-btn" class="submit-btn"><br>
    <a href="/register">Register</a>
</div>