<h1>Login</h1>
<p id="usernameError"></p>
<input type="text" name="username" id="username" placeholder="Enter Username">
<p id="passwordError"></p>
<input type="password" name="password" id="password" placeholder="Enter Password">
<input type="button" value="Login" id="login-btn">
<a href="/register">Register</a>