<div class="about"><a href="/questionablecocktails">Back</a></div>
<h1 class="qcHeader">High-Level Overview</h1>
<h3>
    Questionable Cocktails is a web app that uses AI to expertly concoct
    authentic, one-of-a-kind cocktails, crafted spontaneously without the
    constraints of traditional recipes.<br /><br />

    Simply enter your ingredients, choose the type of cocktail you’d like to
    emulate, and instantly receive a uniquely crafted drink that’s sure to be
    delicious.
</h3>
<img
        src="/images/qc-overview.jpg"
        style="width: 97vw; height: auto"
        alt="Our high-level overview of the project, including our front-end and back-end" />