<h1>Register</h1>
<p id="usernameError"></p>
<input type="text" name="username" id="username" placeholder="Enter Username">
<p id="passwordError"></p>
<input type="password" name="password" id="password" placeholder="Enter Password">
<input type="button" value="Register" id="register-btn">
<a href="/login">Login</a>