<div class="download-a">
    <a href="/colby-dobson-resume.pdf" download>
        <button class="purple-button">Download Resume</button>
    </a>
</div>
<iframe src="colby-dobson-resume.html"></iframe>