<h1>Serve Receive Stats</h1>
<p>Caution, any data you enter is NOT private. All team data is accessible and editable with the team name.</p>

<h2>Go to existing team:</h2>
<form id="teamForm">
  <label for="team">Enter Team:</label>
  <input type="text" id="team" name="team" required>
  <button type="submit">Go</button>
</form>
<div id="result" style="display: none;"></div>

<h2>Create new team:</h2>
<form id="createTeamForm">
  <label for="createTeam">Team Name:</label>
  <input type="text" id="createTeam" name="createTeam" required><br><br>
<!--   <label for="createPlayer">First Player:</label> -->
<!--   <input type="text" id="createPlayer" name="createPlayer" required><br><br> -->
  <button type="submit">Create</button>
</form>
<div id="createResult" style="display: none;"></div>