<h1>Serve Receive Tracker</h1>
<p style="color: red">Functionality incomplete</p>
<br>
<form id="createTeamForm">
    <label for="createTeam">Create team: </label><br>
    <input type="text" id="createTeam" name="createTeam" placeholder="Enter team name..." required maxlength="20"
           oninput="validateTeamName()">
  <button type="submit">Create</button>
</form>
<div id="createResult" style="display: none;"></div>

<br>
<h2>My Teams:</h2>
<div id="teams"></div>