<h1 id="manage">{{title}}</h1>

<br>
<div id="sessionForm">
  <label for="session">Create Session:</label>
    <br>
  <input type="text" id="session" placeholder="Enter session name" />
  <button onclick="createSession()">Submit</button>
</div>

<br>
<form id="addPlayerForm">
  <label for="player">Add Player:</label>
    <br>
  <input
    type="text"
    id="player"
    name="player"
    placeholder="Enter player name" />

  <button type="submit">Submit</button>
</form>

<br>
<div id="playersList">
    <h2>Players:</h2>
    <br>
    <div class="table-wrapper">
        <table class="custom-table" id="playersTable">
            <thead>
            <tr>
                <th>Player Name</th>
                <th>Average Pass Rating</th>
                <th>Total Passes</th>
                <th>Average Serve Rating</th>
                <th>Total Serves</th>
            </tr>
            </thead>
            <tbody>
            <!-- Rows will be dynamically added here -->
            </tbody>
        </table>
    </div>
</div>