html {
    font-family: sans-serif;
    color: #DCEFFF;
    background-color: #121212;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-bar {
    top: 0; /* Ensure it starts at the top */
    left: 0; /* Ensure it spans the left edge */
    width: 100%; /* Full width across the viewport */
    height: 50px; /* Adjust height as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #191919;
}

.nav-links {
    display: flex;
    gap: 10px;
}

.plain-text {
    color: #DCEFFF;
    text-decoration: none;
}

.plain-text:hover {
    text-decoration: none;
    cursor: pointer;
}

.footer {
    width: 95%;
    height: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}