html {
    font-family: sans-serif;
    color: #C8C8C8;
    background-color: #121212;
    background-image: linear-gradient(to right, #121212 0%, #AE9F76 100%);
}

a {
    color: #121212;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

input, textarea {
    border: 2px solid #416680;
    background-color: #ABABAB;
    color: #302E31;
    padding: 5px 10px;
    border-radius: 10px;
}

input[type="button"]:active {
    background-color: #416680;
}

input[type="button"]:hover {
    cursor: pointer;
}

.warning-container {
    font-size: 16pt;
    height: 16pt;
}

.submit-btn {
    border: 2px solid #553976;
    background-color: #8853C7;
    font-size: 16pt;
    margin: 5px 0;
    padding: 5px 10px;
    width: 12em;
}

.blank-input {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    resize: none;

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.padding {
    padding: 1em;
}

textarea {
    height: 50vh;
    width: 90%;
}

.fill-w {
    width: 80%;
}

.t-margin {
    margin-top: 1em
}

.top-center {
    position: absolute;
    top: 10px;
    left: 45%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 50px;
    padding: 0 10px;
}

.nav-links {
    display: flex;
    gap: 10px;
}

.plain-text {
    color: #C8C8C8;
    text-decoration: none;
}

.plain-text:hover {
    text-decoration: none;
    cursor: default;
}

.footer {
    width: 95%;
    height: 20px;
}