html {
    font-family: sans-serif;
    color: #DCEFFF;
    background-color: #121212;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-bar {
    position: fixed; /* Makes it stick to the top */
    top: 0; /* Positions it at the very top */
    left: 0; /* Ensures it starts from the left edge */
    width: 100%; /* Spans the entire width of the viewport */
    height: 50px; /* Adjust the height as needed */
    padding: 0 10px; /* Optional padding */
    background-color: #191919; /* Keeps your background color */
    z-index: 1000; /* Ensures it stays above other content */
}

.nav-links {
    display: flex;
    gap: 10px;
}

.plain-text {
    color: #DCEFFF;
    text-decoration: none;
}

.plain-text:hover {
    text-decoration: none;
    cursor: default;
}

.footer {
    width: 95%;
    height: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}