/* General Container Styles */
.container2 {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: #262422; /* Dark content background */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: #C8C8C8; /* Light text color */
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #191919; /* Alt background color */
    color: #C8C8C8;
}

.card {
    padding: 20px;
    background: #3D3A37; /* Slightly lighter content background */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 400px;
    color: #C8C8C8;
}

/* Button Styles */
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn.primary {
    background-color: #3F6CAD; /* Blue button */
    color: #DCEFFF; /* Light text */
}

.btn.primary:hover {
    background-color: #2F88FF; /* Brighter blue on hover */
}

.btn.logout {
    background-color: #7B3E59; /* Red button */
    color: #DCEFFF;
}

.btn.logout:hover {
    background-color: #A55377; /* Brighter red on hover */
}

/* Form Styles */
textarea,
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #4F4B47; /* Subtle border */
    border-radius: 5px;
    background-color: #121212; /* Normal background */
    color: #DCEFFF; /* Light text */
    box-sizing: border-box;
    resize: vertical;
}

textarea {
    height: 100px;
}

a.resume-title {
    text-decoration: underline;
    color: #2F88FF; /* Brighter blue for links */
    cursor: pointer;
}

form {
    margin-bottom: 20px;
}

/* Divider Styles */
.divider {
    height: 1px;
    background-color: #4F4B47; /* Subtle divider */
    margin: 20px 0;
}

/* Content Sections */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #C8C8C8;
}

.existing-data {
    margin-top: 20px;
}

.main-topic {
    font-weight: bold;
    font-size: 18px;
    margin: 15px 0;
    color: #ABABAB; /* Alt text color */
    padding: 10px;
    background-color: #262422; /* Slightly lighter content background */
    border: 1px solid #4F4B47; /* Subtle border */
    border-radius: 5px;
}

.bullet-point {
    margin-left: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #ABABAB;
}

.bullet-point span {
    margin-right: 10px;
    color: #DCEFFF;
}

.edit,
.delete {
    margin-left: 5px;
    cursor: pointer;
    color: #3F6CAD; /* Blue link */
    text-decoration: underline;
    border: none;
    background: none;
}

.edit:hover,
.delete:hover {
    color: #2F88FF; /* Brighter blue on hover */
}