html {
    background-image: linear-gradient(to right, #121212 50%, #AE9F76 100%);
    background-size: 200% 100%;
    background-position-x: -100vw;
    transition: background-position 0.5s;
}

.background-transition {
    background-position-x: 0;
}

h2 {
    color: #AE9F76;
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-template-areas: "header links";
    height: calc(90vh - 70px);
}

.grid-container > div.header {
    grid-area: header;
    font-size: 5vw;
}

.grid-container > div.links {
    grid-area: links;
    text-align: right;
    font-size: 5vw;
}

.link:hover {
    text-decoration: none;
}

.h-gradient {
    background-image: linear-gradient(to left, #AE9F76 0%, #121212 300%);
    background-clip: text;
    color: transparent;
}

.b-gradient {
    background-image: linear-gradient(to right, #121212, #AE9F76);

    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;

    background-size: 200% 100%;
    background-position-x: -6vw;
    transition: background-size 0.5s, background-position 0.5s;
}

.b-gradient:hover {
    background-size: 500% 100%;
    background-position-x: 0;
}

.links {
    transition: transform 0.2s ease-out;
}

.link {
    display: block;
    will-change: transform;
    transform-origin: right;
    padding-bottom: 1vh;
}