.resume-preview {
    flex: 1;
    border: none;
    width: 100%;
    min-width: 0;
}

.main {
    justify-content: center;
    flex-direction: column;
}

.download-a {
    justify-content: center;
    display: flex;
    padding-bottom: 1%;
}
